<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">
                <div class="auth-brand text-center text-lg-left">
                    <a href="index.html">
                        <span><img src="assets/images/promedio-logo.png" alt="" height="60vh"></span>
                    </a>
                </div>

                <h4 class="mt-0">Registrate</h4>
                <p class="text-muted mb-4">¿No tiene cuenta? Crea su cuenta, toma menos de un minuto</p>

                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input class="form-control" type="text" name="username" id="username"
                            placeholder="Ingrese su usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input class="form-control" type="password" name="password" id="password" required
                            placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="role">Rol</label>
                        <select class="form-control" name="role" id="role" required>
                            <option value="Empleado">Empleado</option>
                            <option value="Empleador">Empleador</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                            <label class="custom-control-label" for="checkbox-signup">Acepto los <a
                                    href="javascript: void(0);" class="text-dark">términos y condiciones</a></label>
                        </div>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-account-circle"></i>
                            Registrarse </button>
                    </div>
                    <div class="text-center mt-4">
                        <p class="text-muted font-16">Registrarse con</p>
                        <ul class="social-list list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                                        class="mdi mdi-google"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>

                <footer class="footer footer-alt">
                    <p class="text-muted">¿Ya tienes cuenta? <a href="/login" class="text-dark ml-1"><b>Iniciar
                                Sesión</b></a></p>
                </footer>

            </div> 
        </div> 
    </div>

    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">Promedio</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> El secreto de ir avanzando es empezar <i
                    class="mdi mdi-format-quote-close"></i>
            </p>
            <p>
                - Mark Twain
            </p>
        </div> 
    </div>
</div>