<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- LOGO -->
        <a href="index.html" class="logo text-center">
            <span class="logo-lg">
                <img src="assets/images/promedio-logo.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo_sm.png" alt="" height="16">
            </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">Navegación</li>

            <li class="side-nav-item">
                <a href="/private2" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <span class="badge badge-success float-right">7</span>
                    <span> Tablero </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#apps" class="side-nav-link" data-toggle="collapse">
                    <i class="dripicons-view-apps"></i>
                    <span> Apps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level collapse"  id="apps" aria-expanded="false">
                    <li>
                        <a href="apps-calendar.html">Calendar</a>
                    </li>
                    <li>
                        <a href="apps-tasks.html">Tasks</a>
                    </li>
                </ul>
            </li>

            
            <li class="side-nav-item">
                <a href="#forms" class="side-nav-link" data-toggle="collapse">
                    <i class="dripicons-document"></i>
                    <span> Reportes </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level collapse" id="forms" aria-expanded="false">
                    <li>
                        <a href="form-elements.html">Basic Elements</a>
                    </li>
                    <li>
                        <a href="form-advanced.html">Form Advanced</a>
                    </li>
                    <li>
                        <a href="form-validation.html">Validation</a>
                    </li>
                    <li>
                        <a href="form-wizard.html">Wizard</a>
                    </li>
                    <li>
                        <a href="form-fileuploads.html">File Uploads</a>
                    </li>
                    <li>
                        <a href="form-editors.html">Editors</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="#charts" class="side-nav-link" data-toggle="collapse">
                    <i class="dripicons-graph-pie"></i>
                    <span> Gráficas </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level collapse" id="charts" aria-expanded="false">
                    <li>
                        <a href="charts-chartjs.html">Chartjs</a>
                    </li>
                    <li>
                        <a href="charts-brite.html">Britecharts</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="#tables" class="side-nav-link" data-toggle="collapse">
                    <i class="dripicons-list"></i>
                    <span> Tablas </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level collapse" id="tables" aria-expanded="false">
                    <li>
                        <a href="tables-basic.html">Basic Tables</a>
                    </li>
                    <li>
                        <a href="tables-datatable.html">Data Tables</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="#maps" class="side-nav-link" data-toggle="collapse">
                    <i class="dripicons-location"></i>
                    <span> Mapas </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level collapse" id="maps" aria-expanded="false">
                    <li>
                        <a href="maps-google.html">Google Maps</a>
                    </li>
                    <li>
                        <a href="maps-vector.html">Vector Maps</a>
                    </li>
                </ul>
            </li>
            
        </ul>



        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->