<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-light">

    <div class="slimscroll-menu">

        <!-- LOGO -->
        <a href="/private2" class="logo text-center">
            <span class="logo-lg">
                <img src="assets/images/promedio-logo.png" alt="" height="20">
            </span>
            <span class="logo-sm">
                <img src="assets/images/promedio-logo.png" alt="" height="20">
            </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav side-nav-light">

            <li class="side-nav-title side-nav-item">Navegación</li>

            <li class="side-nav-item">
                <a href="" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <span class="badge badge-success float-right">3</span>
                    <span> Tablero </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-view-apps"></i>
                    <span> Apps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="apps-calendar.html">Calendar</a>
                    </li>
                    <li>
                        <a href="apps-tasks.html">Tasks</a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">eCommerce
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="apps-ecommerce-products.html">Products</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-products-details.html">Products Details</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-copy"></i>
                    <span> Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="pages-starter.html">Starter Page</a>
                    </li>
                    <li>
                        <a href="pages-profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="pages-invoice.html">Invoice</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-browser"></i>
                    <span> Bancos </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/banorte">Banorte</a>
                    </li>
                    <li>
                        <a href="/bbva">BBVA Bancomer</a>
                    </li>
                    <li>
                        <a href="/citiBanamex">CitiBanamex</a>
                    </li>
                    <li>
                        <a href="/HSBC" class="right-bar-toggle">HSBC</a>
                    </li>
                    <li>
                        <a href="/Santander">Santander</a>
                    </li>
                </ul>
            </li>


        <!-- Help Box -->

        <!-- end Help Box -->
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->